@{
    ViewData["Title"] = "Página No Encontrada";
}

<div class="text-center">
    <h1 class="display-4 text-danger">404</h1>
    <!--404 image-->
    <img src="~/img/404image.png" alt="404" class="img-fluid" width="300"/>
    <h2 class="text-warning">Oops! Página no encontrada</h2>
    <p>Lo sentimos, la página que buscas no existe.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
</div>
