@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 id="titlePannel" class="text-md-center">Empleados</h1>


<p id="infoPannel" class="text-md-center"></p>



<script src="~/js/employee.pannel.js"></script>