@{
    ViewData["Title"] = "Index";
}

<h1 class="text-md-center">Pannel de Vehiculos</h1>



<div class="card p-3 mb-3 bg-light">
    <div class="d-flex align-items-center gap-2 justify-content-between">
        <div class="input-group w-50 d-none">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar...">
        </div>
        <button class="btn btn-success" id="downloadCsv">
            <i class="fas fa-file-csv"></i> Descargar .CSV
        </button>
        <button type="button" class="btn btn-primary" id="addNewCustomerButton">
            <i class="fa-solid fa-car"></i></i> Nuevo Vehiculo
        </button>
    </div>
</div>


<!--Table rendering element-->

<div id="tableContainer"></div>

<!--Creation user Modal-->

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel"><i class="fas fa-user-edit"></i> Vehiculo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="userForm">
                    <div class="mb-3">
                        <label for="brand" class="form-label"><i class="fas fa-id-badge"></i> Marca</label>
                        <input type="text" class="form-control" id="brand" name="brand" required>
                    </div>


                    <div class="mb-3">
                        <label for="model" class="form-label"><i class="fas fa-car"></i> Modelo</label>
                        <input type="text" class="form-control" id="model" name="model" required>
                    </div>

                    <div class="mb-3">
                        <label for="year" class="form-label"><i class="fas fa-calendar-alt"></i> Año</label>
                        <input type="number" class="form-control" id="year" name="year" min="1900" max="2099" required>
                    </div>

                    <div class="mb-3">
                        <label for="dailyPrice" class="form-label"><i class="fas fa-dollar-sign"></i> Precio por día</label>
                        <input type="number" class="form-control" id="dailyPrice" name="dailyPrice" required>
                    </div>

                    <div class="mb-3">
                        <label for="photoURL" class="form-label"><i class="fas fa-image"></i> URL de la foto</label>
                        <input type="url" class="form-control" id="photoURL" name="photoURL" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeFormModalButton">
                    <i class="fas fa-times-circle"></i> Cerrar
                </button>
                <button id="addVehicleButton" type="button" class="btn btn-primary">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button id="saveCustomerButton" class="btn btn-success" form="userForm">
                    <i class="fas fa-edit"></i> Editar
                </button>
            </div>
        </div>
    </div>
</div>



<!--Confirm Deletion Modal-->


<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">
                    <i class="fas fa-exclamation-triangle text-warning"></i> Confirmar eliminación
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="confirmationDeletrUserLabel">
                <p><i class="fas fa-question-circle text-danger"></i> ¿Estás seguro que deseas eliminar a este usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-ban"></i> Cancelar
                </button>
                <button id="deletCustomerButton" type="button" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> OK
                </button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/common.js"></script>
<script src="~/js/vehicles.service.js"></script>
<script src="~/js/vehicles.js"></script>